:root {
  --shadow: 0 0 1px 1px grey;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

  #display {
      width: 200px;
      height: 30px;
      line-height: 30px;
      margin: 30px auto 0;
      color: #000;
      font-style: italic;
      font-weight: bold;
      background-color: #f0aa64;
      box-shadow: var(--shadow);;
  }

  .drum-pads {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .drum-pad {
      border-radius: 10px;
      font-size: 1.5rem;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F08F00;
      color: #312114;
      border: none;
      cursor: pointer;
      box-shadow: var(--shadow);;
  }

  .btn-active {
      background-color: #f2f259;
  }

.volume-container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  background-color: #FBE9D6;
  color: #312114;
  box-shadow: var(--shadow);;
}

  .volume-label {
      margin-right: 10px;
  }